.grass {
    background-color: #8cb27c;
    width: 1000px;
    height: 450px;
    position: relative;
}

.field {
    background-color: #8cb27c;
    border: 5px solid #fff;
    width: 950px;
    height: 400px;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
}

.first-goal {
    background-color: #8cb27c;
    border: 5px solid #fff;
    width: 85px;
    height: 151px;
    position: absolute;
    top: 120px;
    right: 870px;
    bottom: 120px;
    left: 0px;
}

.second-goal {
    background-color: #8cb27c;
    border: 5px solid #fff;
    width: 85px;
    height: 151px;
    position: absolute;
    top: 120px;
    right: 0px;
    bottom: 120px;
    left: 860px;
}

.circle {
    background-color: #8cb27c;
    border: 5px solid #fff;
    border-radius: 90px;
    width: 150px;
    height: 151px;
    position: absolute;
    top: 120px;
    right: 500px;
    bottom: 120px;
    left: 400px;

}

.ball1 {
    width: 20px;
}
.ball2{
  width: 20px;
}
.ball3{
  width: 20px;
}
