.grass {
    background-color: #8cb27c;
    width: 1000px;
    height: 450px;
    position: relative;
}

.field {
    background-color: #8cb27c;
    border: 5px solid #fff;
    width: 950px;
    height: 400px;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
}

.first-goal {
    background-color: #8cb27c;
    border: 5px solid #fff;
    width: 85px;
    height: 151px;
    position: absolute;
    top: 120px;
    right: 870px;
    bottom: 120px;
    left: 0px;
}

.second-goal {
    background-color: #8cb27c;
    border: 5px solid #fff;
    width: 85px;
    height: 151px;
    position: absolute;
    top: 120px;
    right: 0px;
    bottom: 120px;
    left: 860px;
}

.circle {
    background-color: #8cb27c;
    border: 5px solid #fff;
    border-radius: 90px;
    width: 150px;
    height: 151px;
    position: absolute;
    top: 120px;
    right: 500px;
    bottom: 120px;
    left: 400px;

}

.ball1 {
    width: 18px;
    position: absolute;
    top: 124px;
    right: 655px;
    bottom: 243px;
    left: 79px;
}



.ball2{
  width: 18px;
  position: absolute;
  top: 50px;
  right: 400px;
  bottom: 250px;
  left: 490px;
}

.ball3{
  width: 18px;
  position: absolute;
  top: 120px;
  right: 500px;
  bottom: 120px;
  left: 420px;
}

